<article class="project">
    <div class="project-img-container ">
    <div class="project-img-overlay"></div>
        <img src={{ project.data.imageSrc }} alt={{ project.data.imageAlt }} class="img img--project" />
    </div>
    <div class="project__content">
        <div class="subsection">
        <div>
            <h2 class="subheading">{{ project.data.title }}</h2>
            <div class="project__tech body-text body-text--light">
            {%- for tech in project.data.techStack -%}
            <span>{{ tech }}</span> 
            {%- endfor -%}
            </div>
        </div>
        <p class="body-text">
            {{ project.data.description }}
        </p>
        </div>
        <div class="project__buttons">
            <a href={{project.data.repoLink}} class="btn btn--icon" target="_blank">
            <svg
            xmlns="http://www.w3.org/2000/svg"
            class="svg-icon"
            viewBox="0 0 16 16"
            width="24"
            height="24"
            >
            <path
                d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"
            ></path>
            </svg>
            Github
            </a>
            <a href={{project.data.liveLink}} class="btn btn--icon" target="_blank">
                <svg
                xmlns="http://www.w3.org/2000/svg"
                class="svg-icon"
                height="28"
                viewBox="0 -960 960 960"
                width="28"
                >
                <path
                    d="M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm-43-61v-82q-35 0-59-26t-24-61v-44L149-559q-5 20-7 39.5t-2 39.5q0 130 84.5 227T437-141Zm294-108q22-24 38.5-51t28-56.5q11.5-29.5 17-60.5t5.5-63q0-106-58-192.5T607-799v18q0 35-24 61t-59 26h-87v87q0 17-13.5 28T393-568h-83v88h258q17 0 28 13t11 30v127h43q29 0 51 17t30 44Z"
                />
                </svg>
                Live site
            </a>
        </div>
    </div>
</article>