---
title: Misty Becker | Front-end Developer
layout: "base.njk"
---

<main>

  <section class="section section--center intro-header">
    <h1 class="intro__title">Misty Becker</h1>
    <p class="body-text intro__body">
      Hello! I’m a front-end developer with a love for calm UX and visual design.
      <br/> 
      Check out some of my work!
    </p>
    <div class="section--center toggle-btn__container">
      <button class="mode-toggle-btn">
      </button>
    </div>
  </section>

  <section class="section section--center" id="work">
    <h1 class="h1">Recent projects</h1>
    <div class="content-wrapper">
      {%- for project in collections.project -%}
        {% include 'projectCard.njk' %}
      {%- endfor -%}
    </div>
  </section>

  <section class="section section--center" id="about">
    <h1 class="h1">A bit about me</h1>
    <div class="content-wrapper">
      <article class="about__content">
        <div class="subsection body-text body-text--about">
        <p>I'm Misty, a 22 year old web dev and Seattle native! I use she/her pronouns. I graduated from University of Washington in 2022, with a degree in Informatics and concentration in human-centered design.</p>
        <p>I’ve always loved the internet as a place to freely learn and express ourselves, and as a developer, I want to do my little part to make the web more open, accessible, and pleasant to use. I'm especially drawn to software that brings calm, and assists people in living meaningfully.</p>
        <p>My career is just beginning, and I'm excited to continue learning from here! I'm seeking full-time work, and am open to working remotely, or on-site in the greater Seattle area.</p>
        <p>When I’m not coding, I love to doodle, journal, read manga, and watch birds.</p>
        </div>
      </article>

      <article class="subsection">
        <h2 class="subheading">Technologies I use</h2>

        <div class="tech__container">
          <article class="subsection">
            <p class="text-emphasize">Fundamental</p>
            <ul class="chip-wrapper">
              <li class="chip">HTML</li>
              <li class="chip">CSS</li>
              <li class="chip">JAVASCRIPT</li>
              <li class="chip">GIT</li>
            </ul>
          </article>

          <article class="subsection">
            <p class="text-emphasize">Frameworks and tools</p>
            <ul class="chip-wrapper">
              <li class="chip">REACT</li>
              <li class="chip">NEXT JS</li>
              <li class="chip">TYPESCRIPT</li>
              <li class="chip">SASS</li>
              <li class="chip">MATERIAL UI</li>
              <li class="chip">TAILWIND</li>
              <li class="chip">ELEVENTY</li>
              <li class="chip">SANITY</li>
            </ul>
          </article>
        </div>
      </article>
    </div>
  </section>

  <section class="section section--center" id="contact">
    <h1 class="h1 heading-space-lg">Contact</h1>
    <div class="content-wrapper">
      <p class="text-body heading-space-lg">
        I’d love to meet you! Feel free to
        <a href="mailto:mistyb140@gmail.com" role="link">email</a> me, reach out
        on
        <a
          href="https://www.linkedin.com/in/misty-becker/"
          target="_blank"
          role="link"
          >linkedin</a
        >, or use the form below.
      </p>
      <form
        aria-label="send message"
        action="https://api.web3forms.com/submit"
        method="POST"
      >
        <input
          type="hidden"
          name="access_key"
          value="f04d7514-6621-4a45-9448-5186fc706ecd"
        />
        <div class="subsection form">
          <div class="form__field">
            <label class="form__label" for="name">Name</label>
            <input
              class="form__input form__input--sm"
              type="text"
              name="name"
              required
            />
          </div>
          <div class="form__field">
            <label class="form__label" for="email">Email</label>
            <input
              class="form__input form__input--sm"
              type="text"
              name="email"
              required
            />
          </div>
          <div class="form__field">
            <label class="form__label" for="message">Message</label>
            <textarea
              class="form__input form__input--lg"
              name="message"
              required
            ></textarea>
          </div>
          <div class="h-captcha" data-captcha="true"></div>
          <button class="btn btn--form btn--lg" type="submit">
            Send message
          </button>
        </div>
      </form>
    </div>
  </section>
</main>

