* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Rubik';
    src: url(./assets/fonts/Rubik/Rubik-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Trirong Black';
    src: url(./assets/fonts/Trirong/Trirong-Black.ttf);
}

@font-face {
    font-family: 'Trirong Bold';
    src: url('./assets/fonts/Trirong/Trirong-Bold.ttf');
}

@font-face {
    font-family: 'Trirong SemiBold';
    src: url(./assets/fonts/Trirong/Trirong-SemiBold.ttf);
}


:root {
    /* colors */
    --clr-bg-main: #F4FFF1;
    --clr-text: #0A3370;
    --clr-secondary: #3C71C1;
    --clr-accent: #50B8E5;
    --clr-accent2: #BBF0DF;
    --clr-accent-light: #EAFFE5;
    --clr-highlight: #FFCE94;

    /* font families */
    --ff-body: 'Rubik'; 
    --ff-display-black: 'Trirong Black';
    --ff-display-semibold: 'Trirong Semibold';
    --ff-display-bold: 'Trirong Bold';

    /* font size */
    --fs-body: 1.125rem;
    --fs-light: 1rem;
    --fs-display1: 4.5rem;
    --fs-display2: 3.5rem;
    --fs-heading1: 2.5rem;
    --fs-heading2: 2rem;
    --fs-heading3: 1.25rem;

    /* max widths */
    --max-w-desktop: 950px;
}

body {
    color: var(--clr-text);
    background-color: var(--clr-bg-main);
    font-size: 1.125rem;
    font-family: var(--ff-body);
}

.section + .section {
    margin-top: 5rem;
}

.section--center {
    max-width: var(--max-w-desktop);
    margin: 0 auto;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.link { 
    color: inherit;
    text-decoration: none;
}

/* TEXT */
.display1 {
    font-family: var(--ff-display-black);
    font-size: var(--fs-display1);
    line-height: 125.4%;
}

.display2 {
    color: var(--clr-accent);
    font-family: var(--ff-display-semibold);
    font-size: var(--fs-display2);
}

.h1 {
    font-family: 'Trirong Bold';
    color: var(--clr-secondary);
    font-size: var(--fs-heading1);
}

.h2 {
    font-size: var(--fs-heading2);
}

.h3 {
    font-family: var(--fs-heading3);
}

.italic {
    font-style: italic;
}

.text-wrapper {
    line-height: 175%;
}

.heading-space-lg {
    margin-bottom: 2rem;
} 

.heading-space-sm {
    margin-bottom: 1rem;
}

/* image */

img, .img {
    max-width: 100%;
}

/* NAVBAR */
nav {
    background-color: var(--clr-secondary);
}

.nav__wrapper {
    align-items: center;
    height: 3rem;
}

.nav__links {
    list-style: none;
    gap: 2rem;
}

.link--logo {
    color: var(--clr-accent2);
    font-weight: 500;
}

.link--nav {
    color: var(--clr-accent-light);
}

.link--nav:hover { 
    color: var(--clr-highlight); 
}

/* HERO */
.hero {
    height: 100vh;
    background-image: 
        linear-gradient(0deg, rgba(244,255,241,1) 0%, rgba(246,255,243,0.5) 25%, rgba(255,255,255,0) 100%), 
        url(./assets/svg/blob-scene-haikei.svg);
    background-size: cover;
    background-color: var(--clr-accent-light);
    padding-top: 7rem;
}

.hero__wrapper {
    color: var(--clr-secondary) 
}


/* ABOUT */

.about__wrapper {
    gap: 2rem;
}

.text-wrapper--about {
    padding: 2.5rem;
    background-color: var(--clr-accent-light);
    gap: 2rem;
}

.img--about {
    width: 16rem;
    border-radius: 8px;
    opacity: 0.8;
    align-self: center;
}

.tech {
    gap: 8rem;
}

.tech__section {
    width: 50%;
    gap: 0.5rem;
}

.chip-wrapper {
    font-size: var(--fs-light);
    list-style: none;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    width: 100%;
}

.chip {
    color: var(--clr-secondary);
    border: 1px solid var(--clr-secondary);
    padding: 0.25rem 1rem;
}

/* projects */

.img--project {
    width: 25rem;
    border: 2px solid var(--clr-text);
    border-radius: 8px;
}